<header class="header">
  <div class="header-container">
      <h1 class="header-title">Administradores</h1>
      <nav class="header-nav">
      </nav>
  </div>
</header>

<div class="content-container">
  <div class="grid-container">
    
    <mat-card class="dashboard-card" routerLink="/gestion-admin">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="card-icon" >person_add</mat-icon>
          Gestión de Administradores
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Administración y modificación de cuentas</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" routerLink="/gestion-operador">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="card-icon">person_add</mat-icon>
          Gestión de Operadores
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Administración y modificación de cuentas</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" routerLink="/transaccion-solicitud">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="card-icon">vpn_key</mat-icon>
          Restablecer Contraseña
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Edita y vuelve a tener tu contraseña</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" routerLink="/panel-operador">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="card-icon">history</mat-icon>
          Historial de Inicio/Cierre de Sesión
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Revisa todas las veces que entraron o salieron de su perfil</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" routerLink="/panel-operador">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="card-icon">assignment</mat-icon>
          Bitacora (Usuario)
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Revisa quienes son los usuarios</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" routerLink="/panel-operador">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="card-icon">assignment</mat-icon>
          Bitacora (Transacción)
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Revisa los movimientos que se han realizado</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" routerLink="/panel-operador">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="card-icon">assignment</mat-icon>
          Bitacora (Movimientos administrador)
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Revisa los movimientos que has realizado</p>
      </mat-card-content>
    </mat-card>

  </div>
</div>
