<!-- gestion-operador.component.html-->
<!-- Modal de Agregar Operador -->
<div *ngIf="isModalOpen && !isEditing" class="modal-overlay">
    <div class="modal-content">
      <h2>Registrar Operador</h2>
      <form (ngSubmit)="onSubmit()">
        <!-- Datos Personales -->
        <div class="section-title">Datos Personales</div>
        <div class="form-row">
          <div class="form-group">
            <label>RFC *</label>
            <input type="text" [(ngModel)]="operador.RFC" name="RFC" required>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group">
            <label>Nombre(s) *</label>
            <input type="text" [(ngModel)]="operador.NombrePersonal" name="NombrePersonal" required>
          </div>
          <div class="form-group">
            <label>Apellido Paterno *</label>
            <input type="text" [(ngModel)]="operador.ApPaterno" name="ApPaterno" required>
          </div>
          <div class="form-group">
            <label>Apellido Materno</label>
            <input type="text" [(ngModel)]="operador.ApMaterno" name="ApMaterno">
          </div>
        </div>
  
        <!-- Fecha de Nacimiento -->
        <div class="form-row">
          <div class="form-group">
            <label>Fecha de Nacimiento *</label>
            <input type="date" [(ngModel)]="operador.FechaNacimiento" name="FechaNacimiento" required>
          </div>
          <div class="form-group">
            <label>Sexo *</label>
            <select [(ngModel)]="operador.Sexo" name="Sexo" required>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
          </div>
        </div>
  
        <!-- Correo Electrónico -->
        <div class="form-row">
          <div class="form-group">
            <label>Correo Electrónico *</label>
            <input type="email" [(ngModel)]="operador.CorreoElectronico" name="CorreoElectronico" required>
          </div>
        </div>
  
        
        <div class="form-row">
          <div class="form-group">
            <label>Contraseña *</label>
            <div class="input-container">
              <input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="operador.Password" name="Password" required>
              <button type="button" class="show-password-btn" (click)="togglePasswordVisibility()">👁️</button>
            </div>
          </div>
        </div>
  
        <!-- Dirección -->
        <div class="section-title">Dirección</div>
        <div class="form-row">
          <div class="form-group">
            <label>Calle *</label>
            <input type="text" [(ngModel)]="operador.Direccion.Calle" name="Calle" required>
          </div>
          <div class="form-group">
            <label>Número Interior</label>
            <input type="text" [(ngModel)]="operador.Direccion.NumeroInterior" name="NumeroInterior">
          </div>
          <div class="form-group">
            <label>Número Exterior *</label>
            <input type="text" [(ngModel)]="operador.Direccion.NumeroExterior" name="NumeroExterior" required>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group">
            <label>Colonia *</label>
            <input type="text" [(ngModel)]="operador.Direccion.Colonia" name="Colonia" required>
          </div>
          <div class="form-group">
            <label>Ciudad *</label>
            <input type="text" [(ngModel)]="operador.Direccion.Ciudad" name="Ciudad" required>
          </div>
        </div>
  
        <!-- Teléfonos -->
        <div class="section-title">Teléfonos</div>
        <div *ngFor="let tel of operador.Telefono; let i = index" class="form-row">
          <div class="form-group">
            <label>Lada *</label>
            <input type="text" [(ngModel)]="tel.Lada" name="Lada{{i}}" required>
          </div>
          <div class="form-group">
            <label>Teléfono {{ i + 1 }} *</label>
            <input type="text" [(ngModel)]="tel.Numero" name="Telefono{{i}}" required>
          </div>
          <button type="button" class="remove-btn" (click)="removePhone(i)">Eliminar Teléfono</button>
        </div>
        <button type="button" class="add-btn" (click)="addPhone()">Agregar Teléfono</button>
  
        <!-- Estado de Cuenta -->
        <div class="section-title">Estado de Cuenta</div>
        <div class="form-row">
          <div class="form-group">
            <label>Estado *</label>
            <select [(ngModel)]="operador.Estado" name="Estado" required>
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
              <option value="Bloqueado">Bloqueado</option>
            </select>
          </div>
        </div>
  
        <!-- Fecha de Creación -->
        <div class="form-row">
          <div class="form-group">
            <label>Fecha de Creación *</label>
            <input type="date" [(ngModel)]="operador.FechaCreacion" name="FechaCreacion" required>
          </div>
        </div>
  
        <!-- Botones -->
        <div class="form-actions">
          <button type="submit">Agregar</button>
          <button type="button" (click)="closeModal()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  
  
  <!-- Modal de Editar Operador -->
  <div *ngIf="isModalOpen && isEditing" class="modal-overlay">
    <div class="modal-content">
      <h2>Editar Operador</h2>
      <form (ngSubmit)="onSubmit()">
        <!-- Datos Personales (Solo editable el correo, teléfono y estado) -->
        <div class="section-title">Datos Personales</div>
        <div class="form-row">
          <div class="form-group">
            <label>Correo Electrónico *</label>
            <input type="email" [(ngModel)]="operador.CorreoElectronico" name="CorreoElectronico" required>
          </div>
        </div>
  
        <!-- Dirección (solo editable calle, colonia y ciudad) -->
        <div class="section-title">Dirección</div>
        <div class="form-row">
          <div class="form-group">
            <label>Calle *</label>
            <input type="text" [(ngModel)]="operador.Direccion.Calle" name="Calle" required>
          </div>
          <div class="form-group">
            <label>Número Exterior *</label>
            <input type="text" [(ngModel)]="operador.Direccion.NumeroExterior" name="NumeroExterior" required>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group">
            <label>Colonia *</label>
            <input type="text" [(ngModel)]="operador.Direccion.Colonia" name="Colonia" required>
          </div>
          <div class="form-group">
            <label>Ciudad *</label>
            <input type="text" [(ngModel)]="operador.Direccion.Ciudad" name="Ciudad" required>
          </div>
        </div>
  
        
        <!-- Teléfonos -->
        <div class="section-title">Teléfonos</div>
        <div *ngFor="let tel of operador.Telefono; let i = index" class="form-row">
          <div class="form-group">
            <label>Lada *</label>
            <input type="text" [(ngModel)]="tel.Lada" name="Lada{{i}}" required>
          </div>
          <div class="form-group">
            <label>Teléfono {{ i + 1 }} *</label>
            <input type="text" [(ngModel)]="tel.Numero" name="Telefono{{i}}" required>
          </div>
          <button type="button" class="remove-btn" (click)="removePhone(i)">Eliminar Teléfono</button>
        </div>
        <button type="button" class="add-btn" (click)="addPhone()">Agregar Teléfono</button>
  
        <!-- Estado de Cuenta -->
        <div class="section-title">Estado de Cuenta</div>
        <div class="form-row">
          <div class="form-group">
            <label>Estado *</label>
            <select [(ngModel)]="operador.Estado" name="Estado" required>
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
              <option value="Bloqueado">Bloqueado</option>
            </select>
          </div>
        </div>
  
        <!-- Botones -->
        <div class="form-actions">
          <button type="submit">Modificar</button>
          <button type="button" (click)="closeModal()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  
  <!-- Tabla de Operadores -->
  <div class="operador-list">
    <h2>Lista de Operadores</h2>
    <button (click)="openModal()">Agregar Operador</button>
  
    <div class="search-bar">
      <input type="text" placeholder="Buscar operador..." [(ngModel)]="searchQuery" (input)="search()">
      <button>Buscar</button>
    </div>
  
    <table>
      <thead>
        <tr>
          <th>RFC</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Fecha de Registro</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let operador of filteredOperadores">
          <td>{{ operador.RFC }}</td>
          <td>{{ operador.NombrePersonal }} {{ operador.ApPaterno }} {{ operador.ApMaterno }}</td>
          <td>{{ operador.CorreoElectronico }}</td>
          <td>{{ operador.FechaCreacion | date:'yyyy-MM-dd' }}</td>
          <td>{{ operador.Estado }}</td>
          <td>
            <button class="edit-btn" (click)="editOperador(operador)">Editar</button>
            <button class="delete-btn" (click)="deleteOperador(operador)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  