<app-navegacion></app-navegacion>
<div class="content-container">
  <div class="grid-container">
    <mat-card class="dashboard-card" routerLink="/alta-ordenante">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="card-icon">person_add</mat-icon>
          Alta de Ordenantes
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Registro de nuevos clientes ordenantes</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" routerLink="/gestion-ordenante">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="card-icon">manage_accounts</mat-icon>
          Gestions de Ordenante
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Administración y modificación de cuentas</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" routerLink="/transaccion-solicitud">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="card-icon">payments</mat-icon>
          Solicitar Transacción
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Inicio de nuevos procesos transaccionales</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" routerLink="/aprobacion-prueba">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="card-icon">gavel</mat-icon>
          Solicitar Transacción-Prueba
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Aprobacion y aceptacion prueba</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" routerLink="/panel-operador">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="card-icon">approval</mat-icon>
          Aprobación/Rechazo
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Validación de operaciones pendientes</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
